<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      header {
        position: relative;
        background-color: skyblue;
      }

      #go-main {
        font-size: 2em;
        color: black;
        margin-left: 30px;
      }

      .search {
        position: absolute;
        right: 0px;
        bottom: 10px;
      }

      #search-input {
        margin-right: 50px;
      }

      .content {
        white-space: pre-line;
      }
    </style>
    <title><%= title %> - Wiki</title>
  </head>
  <body>
    <header>
      <a href="/" id="go-main">Wiki</a>
      <input type="text" class="search" id="search-input" />
      <input type="button" value="검색" class="search" onclick="search()" />
    </header>

    <h1 style="display: inline"><%= title %></h1>
    <a href="/w/edit/<%= title %>"><%= editText %></a>
    <a href="/w/history/<%= title %>">역사</a>
    <a href="javascript:location.href = '/s/delete/<%= title %>?sum=' + prompt('편집 요약을 입력하세요.')">삭제</a>
    <div class="content"><%- content %></div>
  </body>
  <script>
    const searchInput = document.getElementById("search-input");

    function search(){
      location.href = '/s/search?q=' + searchInput.value
    }
  </script>
</html>
